.center {
  text-align: center;
}

body {
  padding-top: 60px;
}

.nav-gravatar {
  margin-top: -8px;
  margin-bottom: -8px;
}

.big-textarea {
  width: 660px;
  height: 400px;
  margin-bottom: 13px;
  font-family: monospace;
}

.form-submit {
  margin-top: 10px;
}

.biglabel {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

#status-table {
  font-weight: bold;
}

#status-table .progress {
  margin-bottom: 0;
}
