.center {
  text-align: center;
}

@media (min-width:980px){ 
  #content {
    margin-top: 70px;
  }
}
.nav-gravatar {
  margin-top: -8px;
  margin-bottom: -8px;
}

.big-textarea {
  width: 660px;
  height: 400px;
  margin-bottom: 13px;
  font-family: monospace;
}

.form-submit {
  margin-top: 10px;
}

.biglabel {
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

#status-table {
  font-weight: bold;
}

#status-table .progress {
  margin-bottom: 0;
}

.markdown {
  text-indent: 2em;
}

.ajax-ball {
  display: inline;
  position: absolute;
  margin-left: -13px;
  margin-top: -5px;
}

.hidden {
  display: hidden;
}


.demo{max-width: 100%; width:700px; margin:20px 0px 20px 0px; font-family: 'Microsoft YaHei';}
#drop_area{width:100%; /*height:100px;*/ border:3px dashed silver; line-height:100px; text-align:center; font-size:36px; color:#d3d3d3}
#drop_area.hover
{
	color: #00C2FF;
	border-color: #00C2FF;
	/*box-shadow: inset 0 3px 4px #888;*/
}

.usercol{
  word-wrap: break-word;
  word-break: break-all;
}
.usercol a{
	color: inherit;
}
.rc2 p{
	margin:5px 0
}
.rc1{width:20%;font-weight:bold;}
select,input[type="file"]{line-height:0px;}
.rc3{background-color : #99CC66;}

.markdown li{text-indent:0;}
.markdown ul{padding-left:2em;}
ul ul{padding-left:0!important;}

.user-black{color:black!important;font-weight:normal!important}
.user-red{color:red!important}
.user-fire{color:red!important}
.user-yellow{color:#bb0!important}
.user-violet{color:#a0a!important}
.user-orange{color:#ff8c00!important}
.user-blue{color:cornflowerblue!important}
.user-green{color:green!important}
.user-gray{color:gray!important}


.user-red-back{
	background-color:#ffd803;
	font-weight:bold;
}

.user-orange-back{
	background-color:#FEEE78;
}

.user-green-back{
	background-color:#dff0d8;
}

.user-blue-back{
	background-color:#d9edf7;
}

.user-violet-back{
	/*background-color:#C9C;*/
	background-color:rgb(235, 193, 244);
}

.user-gray-back{
	background-color:#FFF;
}
.rank-mid{
	vertical-align:middle;
}
