$def with (contest, problem)
$code:
    CONTESTSTATUS = {
        1:    ('label label-success', 'Ready'),
        2:    ('label label-warning', 'Live'),
        3:    ('label', 'Done'),
    }
$if contest and problem:
    $var title: $problem.ProblemTitle - $contest.ContestTitle - Contest $contest.ContestID
    <h1>$contest.ContestTitle</h1>
    <dl class="dl-horizontal">
      <dt>Start Time</dt>
      <dd>$contest.ContestStartTime</dd>
      <dt>End Time</dt>
      <dd>$contest.ContestEndTime</dd>
      <dt>Status</dt>
      <dd><span class="$CONTESTSTATUS[contest.ContestStatus][0]">$CONTESTSTATUS[contest.ContestStatus][1]</span></dd>
      <dt>Principal</dt>
      <dd>$contest.ContestPrincipal</dd>
      <dt>Description</dt>
      <dd>$:contest.ContestDescription</dd>
    </dl>
    <a name="showproblem"></a>
    <div style="height:40px;"></div>
    <h1 class="center">$problem.ProblemID: $problem.ProblemTitle</h1>
    <section>
      <dl class="dl-horizontal">
        <dt>Time Limit</dt><dd>$problem.ProblemTime ms</dd>
        <dt>Memory Limit</dt><dd>$problem.ProblemMemory KBytes</dd>
        $if problem.SpecialJudge == 1:
            <dt>Judge</dt><dd><span class="label label-important">Special Judge</span>
        $else:
            <dt>Judge</dt><dd><span class="label">Standard Judge</span>
      </dl>
    </section>
    $if contest.ContestStatus == 3:
        $ sp = ''
    $else:
        $ sp = '/%d' % contest.ContestID
    <a class="btn btn-primary" href="/submit/$problem.ProblemID$sp">Submit</a>
    <section>
      <h2>Description</h2>
      <div class="markdown">$:problem.ProblemDescription</div>
    </section>
    <section>
      <h2>Input Format</h2>
      <div class="markdown">$:problem.ProblemInput</div>
    </section>
    <section>
      <h2>Output Format</h2>
      <div class="markdown">$:problem.ProblemOutput</div>
    </section>
    <section>
      <h2>Sample Input</h2>
      <pre>$problem.ProblemSampleIn</pre>
    </section>
    <section>
      <h2>Sample Output</h2>
      <pre>$problem.ProblemSampleOut</pre>
    </section>
    $if problem.ProblemHint:
        <section>
          <h2>Hint</h2>
          <div class="markdown">$:problem.ProblemHint</div>
        </section>
    $if problem.ProblemSource:
        <section>
          <h2>Source</h2>
          <pre>$problem.ProblemSource</pre>
        </section>
    <section>
      <a class="btn btn-primary" href="/submit/$problem.ProblemID$sp">Submit</a>
    </section>
$else:
    $var title: Not Found the Problem
    <h1>Not Found the Problem</h1>
