$def with (contest, problems)
$code:
    CONTESTSTATUS = {
        1:    ('label label-success', 'Ready'),
        2:    ('label label-warning', 'Live'),
        3:    ('label', 'Done'),
    }
    DONE = {
        0:    ('', ''),
        1:    ('<span class="label label-success">AC</span>', ' class="alert alert-success"'),
        2:    ('<span class="label label-important">WA</span>', ' class="alert alert-error"'),
        3:    ('<span class="label label-inverse">Submittid</span>', ' class="alert alert-info"'),
    }
$if contest:
    $var title: $contest.ContestTitle - Contest $contest.ContestID
    <h1>$contest.ContestTitle</h1>
    <dl class="dl-horizontal">
      <dt>Start Time</dt>
      <dd>$contest.ContestStartTime</dd>
      <dt>End Time</dt>
      <dd>$contest.ContestEndTime</dd>
      <dt>Status</dt>
      <dd><span class="$CONTESTSTATUS[contest.ContestStatus][0]">$CONTESTSTATUS[contest.ContestStatus][1]</span></dd>
      <dt>Principal</dt>
      <dd>$contest.ContestPrincipal</dd>
      <dt>Description</dt>
      <dd>$:contest.ContestDescription</dd>
    </dl>
    <div class="btn-group">
      $if contest.ContestStatus == 3 or db.Contest.IsPrincipal(contest.ContestID, session.userid):
          <a class="btn btn-danger" href="/cr$contest.ContestID#rank">Rank</a>
          <a class="btn btn-warning" href="/c$contest.ContestID/rank/#rank">Current Rank</a>
      $else:
          <button class="btn">Rank</button>
          <button class="btn">Current Rank</button>
      $if db.Contest.IsPrincipal(contest.ContestID, session.userid) and db.datetime.datetime.now() <= contest.ContestEndTime:
          <a class="btn btn-success" href="/ec$contest.ContestID">Edit</a>
    </div>
    <table class="table table-hover">
      <caption>
        <h2>Problems</h2>
      </caption>
      <thead>
        <tr>
          <th class="span1">#</th>
          <th class="span1"></th>
          <th>Problem</th>
        </tr>
      </thead>
      <tbody>
        $if problems and (contest.ContestStatus != 1 or db.Contest.IsPrincipal(contest.ContestID, session.userid)):
            $for prob in problems:
                <tr$:DONE[prob.ProblemDone][1]>
                  <td>$loop.index</td>
                  <td>$:DONE[prob.ProblemDone][0]</td>
                  <td><a href="/c${contest.ContestID}p$prob.ProblemID#showproblem">$prob.ProblemTitle</a></td>
                </tr>
      </tbody>
    </table>
$else:
    $var title: Contest Not Found
    <h1>Contest Not Found</h1>
