$def with (contest, rank, ajax=None)
$code:
    COLOR = {
        0:    'danger',
        1:    'warning',
        2:    'success',
        3:    'info',
    }
    CONTESTSTATUS = {
        1:    ('label label-success', 'Ready'),
        2:    ('label label-warning', 'Live'),
        3:    ('label', 'Done'),
    }

$if contest:
    $if ajax:
        $if rank:
            $for result in rank:
                $if loop.index == 1:
                    $ c = COLOR[0]
                $elif loop.index <= 3:
                    $ c = COLOR[1]
                $else:
                    $ c = COLOR[2]
                $if session.userid == result.UserID:
                    $ myself = ' active'
                    $ c = COLOR[3]
                $else:
                    $ myself = ''
                <tr class="alert alert-$c">
                  <td>$loop.index</td>
                  <td>$result.UserName</td>
                  <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result.Score*100)/contest.FullScore}%">$result.Score</div></div></td>
                  <td>${'%d.%03ds' % (result.Time//1000, result.Time%1000)}</td>
                </tr>
    $else:
        $var title: Current Rank - $contest.ContestTitle - Contest $contest.ContestID
        <h1>Current Rank of <em>$contest.ContestTitle</em></h1>
        <dl class="dl-horizontal">
          <dt>Start Time</dt>
          <dd>$contest.ContestStartTime</dd>
          <dt>End Time</dt>
          <dd>$contest.ContestEndTime</dd>
          <dt>Status</dt>
          <dd><span class="label">Done</span></dd>
          <dt>Principal</dt>
          <dd>$contest.ContestPrincipal</dd>
          <dt>Description</dt>
          <dd>$:contest.ContestDescription</dd>
        </dl>
        <a name="rank"></a>
        <div style="height:40px;"></div>
        <table class="table table-hover">
          <caption>
            <h2>Contest Current Rank</h2>
          </caption>
          <thead>
            <tr>
              <th class="span1">#</th>
              <th class="span2">User</th>
              <th>Score</th>
              <th class="span1">Time</th>
            </tr>
          </thead>
          <tbody id="status-table">
            $if rank:
                $for result in rank:
                    $if loop.index == 1:
                        $ c = COLOR[0]
                    $elif loop.index <= 3:
                        $ c = COLOR[1]
                    $else:
                        $ c = COLOR[2]
                    $if session.userid == result.UserID:
                        $ myself = ' active'
                        $ c = COLOR[3]
                    $else:
                        $ myself = ''
                    <tr class="alert alert-$c">
                      <td>$loop.index</td>
                      <td>$result.UserName</td>
                      <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result.Score*100)/contest.FullScore}%">$result.Score</div></div></td>
                      <td>${'%d.%03ds' % (result.Time//1000, result.Time%1000)}</td>
                    </tr>
          </tbody>
        </table>
        <script>
        function gettable() {
          $$.get("/c$contest.ContestID/rankajax", null, function (data, textStatus) {
             $$("#status-table").html(data);
           });
           setTimeout("gettable();", 60000);
         }
         setTimeout("gettable();", 60000);
         </script>
$else:
    $var title: Not Found the Contest or Hidden
    <h1>Not Found the Contest or Hidden</h1>
