$def with (contest, page, count, res, problems, ajax=None)
$code:
    COLOR = {
        0:    'danger',
        1:    'warning',
        2:    'success',
        3:    'info',
    }
    CONTESTSTATUS = {
        1:    ('label label-success', 'Ready'),
        2:    ('label label-warning', 'Live'),
        3:    ('label', 'Done'),
    }

$if contest:
    $if ajax:
        $if res:
            $for result in res:
                $if loop.index == 1:
                    $ c = COLOR[0]
                $elif loop.index <= 3:
                    $ c = COLOR[1]
                $else:
                    $ c = COLOR[2]
                $if session.userid == result['UserID']:
                    $ myself = ' active'
                    $ c = COLOR[3]
                $else:
                    $ myself = ''
                <tr class="alert alert-$c">
                  $ nowrank = loop.index+CONFIG['contestcurrentrankrows']*(page-1)
                  <td>$nowrank</td>
                  <td class="usercol">$:GetUserHtml(result['Rating'], result['UserName'], result['UserID'], result['RealName'])</td>
                  $for i in problems:
                      <td><div class="progress progress-success progress-striped$myself"><div class="bar" style="width: ${min(float(result.get(i.ProblemID,0)*100)/100,100)}%">$result.get(i.ProblemID,'0.000')</div></div></td>
                  <!--td class="usercol"><a href="/u$result['UserID']">${result['UserName']}($result['RealName'])</a></td-->
                  <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result['Score']*100)/contest.FullScore}%">$result['Score']</div></div></td>
                  <td>${'%d.%03ds' % (result['Time']//1000, result['Time']%1000)}</td>
                </tr>
    $else:
        $var title: Current Rank - $contest.ContestTitle - Contest $contest.ContestID
        <h1>Current Rank of <em>$contest.ContestTitle</em></h1>
        <dl class="dl-horizontal">
          <dt>Start Time</dt>
          <dd>$contest.ContestStartTime</dd>
          <dt>End Time</dt>
          <dd>$contest.ContestEndTime</dd>
          <dt>Status</dt>
          <dd><span class="$CONTESTSTATUS[contest.ContestStatus][0]">$CONTESTSTATUS[contest.ContestStatus][1]</span></dd>
          <dt>Principal</dt>
          <dd>$contest.ContestPrincipal</dd>
          <dt>Description</dt>
          <dd>$:contest.ContestDescription</dd>
        </dl>
        <a name="rank"></a>
        <table style="margin-top:40px;" class="table table-hover">
          <caption>
            <h2>Contest Result</h2>
            <div class="pagination">
              <ul>
                $if page == 1:
                    <li class="disabled"><a href="#rank">Prev</a></li>
                $else:
                    <li><a href="/c$contest.ContestID/rank/${page-1}#rank">Prev</a></li>
                $for i in xrange(1, count+1):
                    $if page == i:
                        <li class="active"><a href="/c$contest.ContestID/rank/$i#rank">$i</a></li>
                    $else:
                        <li><a href="/c$contest.ContestID/rank/$i#rank">$i</a></li>
                $if page == count:
                    <li class="disabled"><a href="#rank">Next</a></li>
                $else:
                    <li><a href="/c$contest.ContestID/rank/${page+1}#rank">Next</a></li>
              </ul>
            </div>
          </caption>
          <thead>
            <tr>
              <th class="span1">#</th>
              <th class="span2">User</th>
              $for i in problems:
                  <th class="span2">$i.ProblemTitle</th>
              <th>Score</th>
              <th class="span1">Time</th>
            </tr>
          </thead>
          <tbody id="status-table">
            $if res:
                $for result in res:
                    $if loop.index == 1:
                        $ c = COLOR[0]
                    $elif loop.index <= 3:
                        $ c = COLOR[1]
                    $else:
                        $ c = COLOR[2]
                    $if session.userid == result['UserID']:
                        $ myself = ' active'
                        $ c = COLOR[3]
                    $else:
                        $ myself = ''
                    <tr class="alert alert-$c">
                    $ nowrank = loop.index+CONFIG['contestcurrentrankrows']*(page-1)
                      <td>$nowrank</td>
                      <td class="usercol">$:GetUserHtml(result['Rating'], result['UserName'], result['UserID'], result['RealName'])</td>
                      $for i in problems:
                          <td><div class="progress progress-success progress-striped$myself"><div class="bar" style="width: ${min(float(result.get(i.ProblemID,0)*100)/100,100)}%">$result.get(i.ProblemID,'0.000')</div></div></td>
                      <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result['Score']*100)/contest.FullScore}%">$result['Score']</div></div></td>
                      <td>${'%d.%03ds' % (result['Time']//1000, result['Time']%1000)}</td>
                    </tr>
          </tbody>
        </table>
            <div class="pagination center">
              <ul>
                $if page == 1:
                    <li class="disabled"><a href="#rank">Prev</a></li>
                $else:
                    <li><a href="/c$contest.ContestID/rank/${page-1}#rank">Prev</a></li>
                $for i in xrange(1, count+1):
                    $if page == i:
                        <li class="active"><a href="/c$contest.ContestID/rank/$i#rank">$i</a></li>
                    $else:
                        <li><a href="/c$contest.ContestID/rank/$i#rank">$i</a></li>
                $if page == count:
                    <li class="disabled"><a href="#rank">Next</a></li>
                $else:
                    <li><a href="/c$contest.ContestID/rank/${page+1}#rank">Next</a></li>
              </ul>
            </div>
        <script>
        function gettable() {
          $$.get("/c$contest.ContestID/rank/${page}ajax", null, function (data, textStatus) {
             $$("#status-table").html(data);
           });
           setTimeout("gettable();", 60000);
         }
         setTimeout("gettable();", 60000);
         </script>
$else:
    $var title: Not Found the Contest or Hidden
    <h1>Not Found the Contest or Hidden</h1>
