<div class="hero-unit">
  <h1>CoFun</h1>
  <p>A simple Online Judge System designed for <em>Quanzhou No.7 High School</em> OI Training. Haven't finished yet. Feel free to catch bugs :-) </p>
  <p><a class="btn btn-primary btn-large" href="/problem/">Go to the Problemlist &raquo;</a></p>
</div>
<!--<!doctype html>
<head>
  <title>Index</title>
</head>
<body>
  <ul>
    <li><a href="/login/">Login</a></li>
    <li><a href="/logout/">Logout</a></li>
    <li><a href="/register/">Register</a></li>
    <li><a href="/newproblem/">Add a problem</a></li>
    <li><a href="/problem/">Problem List</a></li>
    <li><a href="/submit/">Submit</a></li>
    <li><a href="/status/">Status</a></li>
  </ul>
</body>-->
