$def with (content)
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
$if 'title' in content:
    <title>$content.title - CoFun</title>
$else:
    <title>CoFun</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="A simple online judge system for OI">
<link href="/static/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap-responsive.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Code+Pro' rel='stylesheet' type='text/css'>
<link href="/static/cofun.css" rel="stylesheet">
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!--<link rel="shortcut icon" href="../assets/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
<script src="/static/jquery-1.8.2.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
$if 'head' in content:
    $:content.head
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">CoFun</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <!--<li class="active"><a href="/">Home</a></li>-->
          <li><a href="/">Home</a></li>
          <li><a href="/problem/">Problemlist</a></li>
          <li><a href="/contest/">Contest List</a></li>
          <li><a href="/series/">Series List</a></li>
          <li><a href="/status/">Status</a></li>
          $if session.userid != -1:
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/newproblem/">Add a problem</a></li>
                  <li><a href="/newcontest/">Add a contest</a></li>
                  <li><a href="/newseries/">Add a series</a></li>
                  <!--<li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
              <li>
                <form id="gotoprob-form" name="gotoprob-form" class="navbar-form">
                  <input type="text" id="gotoprob" name="gotoprob" class="span1" placeholder="Go!">
                </form>
              </li>
        </ul>
        $if session.userid == -1:
            <form class="navbar-form pull-right" method="POST" action="/login/" name="LoginForm">
              <input class="span2" type="text" id="Username" name="Username" placeholder="Username">
              <input class="span1" type="password" id="Password" name="Password" placeholder="Passwd">
              <button type="submit" class="btn">Login</button>
              <a href="/register/" class="btn">Register</a>
            </form>
        $else:
            <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="http://www.gravatar.com/avatar/$session.gravatar?s=32&r=X&d=identicon" alt="$session.username" class="nav-gravatar" /> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">$session.username</li>
                  <li><a href="http://cn.gravatar.com" target="_blank">Change avater</a></li>
                  <li><a href="/logout/">Logout</a></li>
                  <!--<li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>-->
                </ul>
              </li>
            </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
<div class="container">
$:content
  <hr>
  <footer>
    <p>&copy; CoFun.org 2012 | A simple Online Judge System designed for <span class="label label-important">Quanzhou No.7 High School</span> OI training.</p>
    <p>Powered by <a href="https://github.com/abcdabcd987/CoFun">CoFun</a> | Version: <code>$:VERSION</code> | <a class="label label-info" href="/whatsnew/">What's New?</a></p>
  </footer>
</div> <!-- /container -->
<script>
  $$(function(){
    $$('#gotoprob').keyup(function(e){
      var regex = /\d{4}/
      if (regex.exec(this.value) !== null)
      {
        self.location.href="/p"+this.value;
      }
      return false;
    });
  });
</script>
</body>
</html>
