$def with (mesg=None, compile_info=None)
$var title: Add a Problem
$var head:
    <script src="/static/pagedown/Markdown.Converter.js"></script>
    <script src="/static/pagedown/Markdown.Sanitizer.js"></script>
    <script src="/static/pagedown/Markdown.Editor.js"></script>
    <link href="/static/pagedown/pagedown.css" type="text/css" rel="stylesheet">
    <script src="/static/UploadImage.js"></script>
    <script src="/static/UploadZip.js"></script>
$if mesg:
    <div class="alert alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>INFO</strong><p>$mesg</p>
      $if compile_info:
          <pre>$:compile_info</pre>
    </div>
<form method="POST" action="/newproblem/" name="LoginForm" class="form-horizontal">
  <legend>Add a Problem</legend>
  <div class="control-group">
    <label for="ProblemTitle" class="control-label">Title</label>
    <div class="controls">
      <input type="text" id="ProblemTitle" name="ProblemTitle">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="ProblemTime">Time Limit</label>
    <div class="controls">
      <input type="text" id="ProblemTime" name="ProblemTime" value="1000">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="ProblemMemory">Memory Limit</label>
    <div class="controls">
      <input type="text" id="ProblemMemory" name="ProblemMemory" value="131072">
    </div>
  </div>
  <div class="control-group">
    <label for="ProblemSource" class="control-label">Source</label>
    <div class="controls">
      <input type="text" id="ProblemSource" name="ProblemSource">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="SpecialJudge">Special Judge</label>
    <div class="controls">
      <input type="checkbox" id="SpecialJudge" name="SpecialJudge">
    </div>
  </div>
  <div class="control-group">
    <label for="ProblemDescription" class="biglabel">Description</label>
    <div class="wmd-panel">
      <div id="wmd-button-bar-desc"></div>
      <textarea class="wmd-input" id="wmd-input-desc" name="ProblemDescription"></textarea>
      <div id="wmd-preview-desc" class="wmd-panel wmd-preview"></div>
    </div>
  </div>
  <div>
    <label for="ProblemInput" class="biglabel">Input Format</label>
    <div class="wmd-panel">
      <div id="wmd-button-bar-input"></div>
      <textarea class="wmd-input" id="wmd-input-input" name="ProblemInput"></textarea>
      <div id="wmd-preview-input" class="wmd-panel wmd-preview"></div>
    </div>
  </div>
  <div>
    <label for="ProblemOutput" class="biglabel">Output Format</label>
    <div class="wmd-panel">
      <div id="wmd-button-bar-output"></div>
      <textarea class="wmd-input" id="wmd-input-output" name="ProblemOutput"></textarea>
      <div id="wmd-preview-output" class="wmd-panel wmd-preview"></div>
    </div>
  </div>
  <div>
    <label for="ProblemSampleIn" class="biglabel">SampleInput</label>
    <textarea class="big-textarea" id="ProblemSampleIn" name="ProblemSampleIn"></textarea>
  </div>
  <div>
    <label for="ProblemSampleOut" class="biglabel">SampleOutput</label>
    <textarea class="big-textarea" id="ProblemSampleOut" name="ProblemSampleOut"></textarea>
  </div>
  <div>
    <label for="ProblemHint" class="biglabel">Hint</label>
    <div class="wmd-panel">
      <div id="wmd-button-bar-hint"></div>
      <textarea class="wmd-input" id="wmd-input-hint" name="ProblemHint"></textarea>
      <div id="wmd-preview-hint" class="wmd-panel wmd-preview"></div>
    </div>
  </div>
  <br>
  <legend>Speacial Judge<a href='/faq/'>?</a></legend>
  <div class="control-group">
    <label for="SubmitLanguage" class="control-label">Language</label>
    <div class="controls">
      <select name="SubmitLanguage">
        <option value="1">C</option>
        <option value="2" selected>C++</option>
        <option value="3">Free Pascal</option>
      </select>
    </div>
  </div>
  <div>
    <textarea name="SubmitCode" class="big-textarea" placeholder="Leave it blank if there's no spj"></textarea>
  </div>
  <div class="form-submit">
    <input type="submit" id="submit" name="submit" value="Upload data next" class="btn btn-primary">
  </div>
</form>
<script>
(function() {
  var converter_desc = Markdown.getSanitizingConverter();
  var editor_desc = new Markdown.Editor(converter_desc, '-desc');
  editor_desc.run();
  var converter_input = Markdown.getSanitizingConverter();
  var editor_input = new Markdown.Editor(converter_input, '-input');
  editor_input.run();
  var converter_output = Markdown.getSanitizingConverter();
  var editor_output = new Markdown.Editor(converter_output, '-output');
  editor_output.run();
  var converter_hint = Markdown.getSanitizingConverter();
  var editor_hint = new Markdown.Editor(converter_hint, '-hint');
  editor_hint.run();
}
)();
</script>
