$def with (problems, page, count)
$var title: Problemlist
$code:
    DONE = {
        0:    ('', ''),
        1:    ('<span class="label label-success">AC</span>', ' class="alert alert-success"'),
        2:    ('<span class="label label-important">WA</span>', ' class="alert alert-error"'),
    }
<table class="table table-hover">
  <caption>
    <h2>Problemlist</h2>
    <div class="pagination">
      <ul>
        $if page == 1:
            <li class="disabled"><a href="#">Prev</a></li>
        $else:
            <li><a href="/problem/${page-1}">Prev</a></li>
        $for i in xrange(1, count+1):
            $if page == i:
                <li class="active"><a href="/problem/$i">$i</a></li>
            $else:
                <li><a href="/problem/$i">$i</a></li>
        $if page == count:
            <li class="disabled"><a href="#">Next</a></li>
        $else:
            <li><a href="/problem/${page+1}">Next</a></li>
      </ul>
    </div>
  </caption>
  <thead>
    <tr>
      <th>Problem ID</th>
      <th></th>
      <th>Title</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
    $for problem in problems:
        <tr$:DONE[problem.ProblemDone][1]>
          <td class="span2">$problem.ProblemID</td>
          <td class="span1">$:DONE[problem.ProblemDone][0]</td>
          <td><a href="/p$problem.ProblemID">$problem.ProblemTitle</a></td>
          <td class="span4">$problem.ProblemSource</td>
        </tr>
  </tbody>
</table>
