$def with (problem)
$if problem:
    $var title: $problem.ProblemTitle - Problem $problem.ProblemID
    <h1 class="center">$problem.ProblemID: $problem.ProblemTitle</h1>
    <section>
      <dl class="dl-horizontal">
        <dt>Time Limit</dt><dd>$problem.ProblemTime ms</dd>
        <dt>Memory Limit</dt><dd>$problem.ProblemMemory KBytes</dd>
      </dl>
    </section>
    <a class="btn btn-primary" href="/submit/$problem.ProblemID">Submit</a>
    <section>
      <h2>Description</h2>
      <div class="markdown">$:problem.ProblemDescription</div>
    </section>
    <section>
      <h2>Input Format</h2>
      <div class="markdown">$:problem.ProblemInput</div>
    </section>
    <section>
      <h2>Output Format</h2>
      <div class="markdown">$:problem.ProblemOutput</div>
    </section>
    <section>
      <h2>Sample Input</h2>
      <pre>$problem.ProblemSampleIn</pre>
    </section>
    <section>
      <h2>Sample Output</h2>
      <pre>$problem.ProblemSampleOut</pre>
    </section>
    $if problem.ProblemHint:
        <section>
          <h2>Hint</h2>
          <div class="markdown">$:problem.ProblemHint</div>
        </section>
    $if problem.ProblemSource:
        <section>
          <h2>Source</h2>
          <pre>$problem.ProblemSource</pre>
        </section>
    <section>
      <a class="btn btn-primary" href="/submit/$problem.ProblemID">Submit</a>
    </section>
$else:
    $var title: Not Found Requested Problem or Hidden
    <h1>Not Found Requested Problem or Hidden</h1>
