$def with (problems)
$var title: Problemlist
<table class="table table-hover">
  <caption><h2>Problemlist</h2></caption>
  <thead>
    <tr>
      <th>Problem ID</th>
      <th>Title</th>
      <th>Source</th>
    </tr>
  </thead>
  <tbody>
    $for problem in problems:
        <tr>
          <td class="span2">$problem.ProblemID</td>
          <td><a href="/p$problem.ProblemID">$problem.ProblemTitle</a></td>
          <td class="span4">$problem.ProblemSource</td>
        </tr>
  </tbody>
</table>
