$def with (mesg=None)
<!doctype html>
<head>
  <title>Register</title>
</head>
<body>
  <form method="POST" action="/register/" name="RegisterForm">
    <div>
      <label for="Username">Username</label>
      <input type="text" id="Username" name="Username">
    </div>
    <div>
      <label for="Password">Password</label>
      <input type="password" id="Password" name="Password">
    </div>
    <div>
      <label for="RePassword">Re-Password</label>
      <input type="password" id="RePassword" name="RePassword">
    </div>
    <div>
      <label for="Email">Email</label>
      <input type="email" id="Email" name="Email">
    </div>
    <div>
      <input type="submit" id="submit" name="submit" value="Register">
    </div>
  </form>
  $if mesg:
    <em>$mesg</em>
</body>
