$def with (series, problems)
$code:
    DONE = {
        0:    ('', ''),
        1:    ('<span class="label label-success">AC</span>', ' class="alert alert-success"'),
        2:    ('<span class="label label-important">WA</span>', ' class="alert alert-error"'),
    }
$if series:
    $var title: $series.SeriesTitle - Series $series.SeriesID
    <h1>$series.SeriesTitle</h1>
    <dl class="dl-horizontal">
      <dt>Create Time</dt>
      <dd>$series.SeriesCreateTime</dd>
      <dt>Description</dt>
      <dd>$:series.SeriesDescription</dd>
    </dl>
    <div>
    <div class="btn-group">
      <a class="btn btn-danger" href="/series$series.SeriesID/rank/#rank">Rank</a>
      $if db.Member.GetLevel(session.userid) >= 1:
            <a class="btn btn-success" href="/eseries$series.SeriesID">Edit</a>
    </div>
    </div>
    <table class="table table-hover">
      <caption>
        <h2>Problems</h2>
      </caption>
      <thead>
        <tr>
          <th class="span1">#</th>
          <th></th>
          <th>Title</th>
          <th>Source</th>
          <th>Solved</th>
          <th>Submit</th>
          <th>AC%</th>
        </tr>
      </thead>
      <tbody>
        $if problems:
            $for prob in problems:
                <tr$:DONE[prob.ProblemDone][1]>
                  <td>$loop.index</td>
                  <td>$:DONE[prob.ProblemDone][0]</td>
                  <td><a href="/p$prob.ProblemID">$prob.ProblemTitle</a></td>
                  <td class="span4">$prob.ProblemSource</td>
                  <td class="span1">$prob.Solved</td>
                  <td class="span1">$prob.Submit</td>
                  <td class="span1">$prob.Ratio</td>
                </tr>
      </tbody>
    </table>
    <script type="text/javascript">
    var uyan_config = {
                 'su':'series$series.SeriesID',
                 'du':'cofun.org'
    };
    </script>
    <h2>Discuss</h2>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'cofun'; // required: replace example with your forum shortname
        var disqus_identifier = 'series$series.SeriesID';
        var disqus_url = 'http://cofun.org/series$series.SeriesID';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    
    <!-- UY BEGIN
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1976995"></script>
    UY END -->
$else:
    $var title: Series Not Found
    <h1>Series Not Found</h1>
