$def with (series, page, count, rank, ajax=None)
$code:
    COLOR = {
        0:    'danger',
        1:    'warning',
        2:    'success',
        3:    'info',
    }

$if series:
    $if ajax:
        $if rank:
            $for result in rank:
                $if loop.index == 1:
                    $ c = COLOR[0]
                $elif loop.index <= 3:
                    $ c = COLOR[1]
                $else:
                    $ c = COLOR[2]
                $if session.userid == result.UserID:
                    $ myself = ' active'
                    $ c = COLOR[3]
                $else:
                    $ myself = ''
                <tr class="alert alert-$c">
                  $ nowrank = loop.index+CONFIG['seriesrankrows']*(page-1)
                  <td>$nowrank</td>
                  <td class="usercol">$:GetUserHtml(result['Rating'], result['UserName'], result['UserID'], result['RealName'])</td>
                  <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result.Score*100)/series.FullScore}%">$result.Score</div></div></td>
                  <td>${'%d.%03ds' % (result.Time//1000, result.Time%1000)}</td>
                </tr>
    $else:
        $var title: Rank - $series.SeriesTitle - Series $series.SeriesID
        <h1>$series.SeriesTitle</h1>
        <dl class="dl-horizontal">
          <dt>Create Time</dt>
          <dd>$series.SeriesCreateTime</dd>
          <dt>Description</dt>
          <dd>$:series.SeriesDescription</dd>
        </dl>
        <a name="rank"></a>
        <div style="height:40px;"></div>
        <table class="table table-hover">
          <caption>
            <h2>Series Rank</h2>
            <div class="pagination">
              <ul>
                $if page == 1:
                    <li class="disabled"><a href="#rank">Prev</a></li>
                $else:
                    <li><a href="/series$series.SeriesID/rank/${page-1}#rank">Prev</a></li>
                $for i in xrange(1, count+1):
                    $if page == i:
                        <li class="active"><a href="/series$series.SeriesID/rank/$i#rank">$i</a></li>
                    $else:
                        <li><a href="/series$series.SeriesID/rank/$i#rank">$i</a></li>
                $if page == count:
                    <li class="disabled"><a href="#rank">Next</a></li>
                $else:
                    <li><a href="/series$series.SeriesID/rank/${page+1}#rank">Next</a></li>
              </ul>
            </div>
          </caption>
          <thead>
            <tr>
              <th class="span1">#</th>
              <th class="span2">User</th>
              <th>Score</th>
              <th class="span1">Time</th>
            </tr>
          </thead>
          <tbody id="status-table">
            $if rank:
                $for result in rank:
                    $if loop.index == 1:
                        $ c = COLOR[0]
                    $elif loop.index <= 3:
                        $ c = COLOR[1]
                    $else:
                        $ c = COLOR[2]
                    $if session.userid == result.UserID:
                        $ myself = ' active'
                        $ c = COLOR[3]
                    $else:
                        $ myself = ''
                    <tr class="alert alert-$c">
                    $ nowrank = loop.index+CONFIG['seriesrankrows']*(page-1)
                    <td>$nowrank</td>
                    <td class="usercol">$:GetUserHtml(result['Rating'], result['UserName'], result['UserID'], result['RealName'])</td>
                      <td><div class="progress progress-$c progress-striped$myself"><div class="bar" style="width: ${float(result.Score*100)/series.FullScore}%">$result.Score</div></div></td>
                      <td>${'%d.%03ds' % (result.Time//1000, result.Time%1000)}</td>
                    </tr>
          </tbody>
        </table>
            <div class="pagination center">
              <ul>
                $if page == 1:
                    <li class="disabled"><a href="#rank">Prev</a></li>
                $else:
                    <li><a href="/series$series.SeriesID/rank/${page-1}#rank">Prev</a></li>
                $for i in xrange(1, count+1):
                    $if page == i:
                        <li class="active"><a href="/series$series.SeriesID/rank/$i#rank">$i</a></li>
                    $else:
                        <li><a href="/series$series.SeriesID/rank/$i#rank">$i</a></li>
                $if page == count:
                    <li class="disabled"><a href="#rank">Next</a></li>
                $else:
                    <li><a href="/series$series.SeriesID/rank/${page+1}#rank">Next</a></li>
              </ul>
            </div>
        <script>
        function gettable() {
          $$.get("/series$series.SeriesID/rank/${page}ajax", null, function (data, textStatus) {
             $$("#status-table").html(data);
           });
           setTimeout("gettable();", 60000);
         }
         setTimeout("gettable();", 60000);
         </script>
$else:
    $var title: Not Found the Series or Hidden
    <h1>Not Found the Series or Hidden</h1>
