$def with (detail, results)
$var title: Show Source
$var head: 
    <link href="/static/google-code-prettify/prettify.css" type="text/css" rel="stylesheet">
$if not detail or detail.SubmitStatus == -1:
    <h1>Hidden or Not Found</h1>
$else:
    <h1>Submit in detail</h1>
    <dl class="dl-horizontal pull-left">
      <dt>Problem ID</dt><dd><a href="/p$detail.ProblemID">$detail.ProblemID</a></dd>
      <dt>User</dt><dd>$detail.UserName</dd>
      <dt>Average Memory</dt><dd>${detail.SubmitRunMemory}Kbytes</dd>
      <dt>Time</dt><dd>${detail.SubmitRunTime}MS</dd>
      <dt>Language</dt><dd>$:LANGUAGELIST[detail.SubmitLanguage]</dd>
      <dt>Result</dt><dd>$:RESULTLIST[detail.SubmitStatus]</dd>
      <dt>Score</dt><dd>$detail.SubmitScore</dd>
    </dl>
    <img src="http://www.gravatar.com/avatar/$db.Utility.MD5(detail.UserEmail.lower())?s=128&amp;r=X&amp;d=identicon" alt="$detail.UserName" class="pull-right">
    <div class="clearfix"></div>
    $if results:
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Testcase</th>
              <th>Result</th>
              <th>Score</th>
              <th>Time</th>
              <th>Memory</th>
            </tr>
          </thead>
          <tbody>
            $for r in results:
                <tr>
                  <td>$loop.index</td>
                  <td>$:RESULTLIST[r.Result]
                  $if r.Result == 4:
                      <pre>$r.Diff</pre>
                  </td>
                  <td>$r.Score</td>
                  <td>${r.RunTime}ms</td>
                  <td>${r.RunMemory}KBytes</td>
                </tr>
          </tbody>
        </table>
    $if detail.CompilerInfo:
        <h2>Compile Info</h2>
        <pre>$detail.CompilerInfo</pre>
    <h2>Source Code</h2>
    <pre class="prettyprint">$detail.SubmitCode</pre>
    <script src="/static/google-code-prettify/prettify.js"></script>
    <script>
    $$(window).load(function(){
         prettyPrint();
    })
    </script>
