$def with (problemid, lang=None, mesg=None)
$var title: Submit
<form method="POST" action="/submit/" name="SubmitForm" class="form-horizontal">
  <legend>Submit</legend>
  <div class="control-group">
    <label for="ProblemID" class="control-label">Problem ID</label>
    <div class="controls">
    $if problemid:
        <input type="text" name="ProblemID" value="$problemid">
    $else:
        <input type="text" name="ProblemID">
    </div>
  </div>
  <div class="control-group">
    <label for="SubmitLanguage" class="control-label">Language</label>
    <div class="controls">
    <select name="SubmitLanguage">
      $if lang == 1:
          <option value="1" selected>C</option>
      $else:
          <option value="1">C</option>
      $if lang == 2:
          <option value="2" selected>C++</option>
      $else:
          <option value="2">C++</option>
      $if lang == 3:
          <option value="3" selected>Free Pascal</option>
      $else:
          <option value="3">Free Pascal</option>
    </select>
  </div>
  </div>
  <div>
    <textarea name="SubmitCode" class="big-textarea"></textarea>
  </div>
  <div>
    <input type="submit" name="submit" value="Submit" class="btn btn-primary">
  </div>
</form>
$if mesg:
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Warning!</strong><p>$mesg</p>
    </div>
