$var title: What's New?
<h1 class="center">What's New?</h1>
<pre>
- 0.1 git commit 21
紧急修复Series题目列表AC/WA指示的错误


- 0.1 git commit 20
新增题目列表AC/WA指示
修复比赛结束后可以继续提交的BUG
修复状态页面错误信息的前置空格


- 0.1 git commit 19
ygy神牛紧急发布了一个BUG的补丁


- 0.1 git commit 18
非常感谢ygy神牛特地为CoFun打了一个通用校验器，从此人类可以在状态页面查看错误在哪里了


- 0.1 git commit 17
新增Series专题模块
新增Series模块和Contest模块的Score的进度条，Series模块的进度条还有带移动效果哦（如果显示的个人是自己的话）！


- 0.1 git commit 16
新增Markdown编辑器，「新建题目」和「新建比赛」页面已经开始使用Markdown编辑器
新增Markdown解释器，所有Markdown文本在显示之前已经被服务器转换成HTML格式
新增图片上传页面，方便添加带有图片的题目
新增What's New页面，方便查看新增的功能


- 0.1 git commit 15
新增status的得分显示，后台数据data.config格式修改，添加了每个测试点的得分
新增比赛的Rank功能


- 0.1 git commit 14
新增比赛功能，完成新增比赛，查看题目，对status的隐藏保护
</pre>
